In [7]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv("f1_lap_time_dataset.csv")

In [9]:
df.dropna(subset=["lap_time_ms"], inplace=True)

In [10]:
df["lap_time_sec"] = df["lap_time_ms"] / 1000
df.drop(columns=["lap_time_ms"], inplace=True)

In [11]:
categorical_cols = ["circuit_name", "circuit_country", "driver_id"]
for col in categorical_cols:
    unique_values = df[col].unique()
    mapping = {val: idx for idx, val in enumerate(unique_values)}
    df[col] = df[col].map(mapping)

In [12]:
df = pd.concat([df, pd.get_dummies(df["tire_compound"], prefix="tire_compound")], axis=1)
df.drop(columns=["tire_compound"], inplace=True)

In [13]:
num_cols = ["estimated_horsepower", "car_weight", "track_temperature", "driving_aggression", "fuel_load_percent"]
for col in num_cols:
    min_val = df[col].min()
    max_val = df[col].max()
    df[col] = (df[col] - min_val) / (max_val - min_val)

In [15]:
df.head()

,year,round,circuit_name,circuit_country,driver_id,lap_number,estimated_horsepower,car_weight,track_temperature,driving_aggression,fuel_load_percent,lap_time_sec,tire_compound_hard,tire_compound_medium,tire_compound_soft
0,2010,1,0,0,0,1,0.072289,0.737374,0.500000,0.466181,0.583323,123.366,False,True,False
1,2010,1,0,0,1,1,0.040161,0.828283,0.500000,0.908827,0.738912,125.394,False,False,True
2,2010,1,0,0,2,1,0.975904,0.878788,0.958333,0.252486,0.490736,126.758,True,False,False
3,2010,1,0,0,3,1,0.248996,0.565657,0.708333,0.695637,0.365281,128.063,False,True,False
4,2010,1,0,0,4,1,0.983936,0.282828,0.375000,0.795228,0.038375,128.558,True,False,False